<div class="modal">
  <ion-header-bar>
    <h1 class="title">Drop From Tournament</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Reason for leaving tournament</span>
        <input type="text" ng-model="contact.name">
      </label>
    </div>

    <button class="button button-full button-positive" ng-click="closeModal()">Okay</button>
  </ion-content>
</div>
