

<ion-view view-title="{{match.title}}">
  <ion-content>

    <h1>{{match.title}}</h1>
    <div class="player-banner">

       <div style="float: left"><img src="img/avatar.jpg"/><br>Avatar A
       </div>
       <div class="vs">VS
       </div>
       <div style="float: left"><img src="img/avatar.jpg"/><br>Avatar B
       </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2>{{match.table}}</h2>
    <button class="button button-positive" ng-click="$ionicGoBack()">
      Back
    </button>
  </ion-content>
</ion-view>
