<ion-view view-title="{{match.title}}">
  <ion-content>

    <h1>{{match.title}}</h1>
    <div class="row">

       <div class="col"><img src="img/avatar.jpg"/><br>{{match.player1.name}}
       </div>
       <div class="col vs col-25">VS
       </div>
       <div class="col"><img src="img/avatar.jpg"/><br>{{match.player2.name}}
       </div>
    </div>

    <h2>{{match.table}}</h2>

    <button class="button button-positive" ng-click="$ionicGoBack()">
      Back
    </button>

  </ion-content>
</ion-view>
