
<ion-view view-title="Matches">


<ion-tabs class="tabs-positive tabs-top noPadding">
  <ion-tab class="noPadding" title="Pairings" href="#/app/matches/pairings">
    <ion-nav-view name="pairings"></ion-nav-view>
  </ion-tab>
  <ion-tab class="noPadding" title="Standings" href="#/app/matches/standings">
    <ion-nav-view name="standings"></ion-nav-view>
  </ion-tab>
</ion-tabs>


</ion-view>
<ion-pull-up-footer  class="bar-positive" on-expand="footerExpand()" on-collapse="footerCollapse()">
    <ion-pull-up-bar>
        <h1 class="title" ion-pull-up-trigger>Announcements </h1>
    </ion-pull-up-bar>
    <ion-pull-up-content scroll="false">

      <form name="announcementForm" id="announceFormA">
          <textarea form="announceFormA" placeholder="Relevant text here."></textarea>
        <button value="OK" type="reset" class="button button-balanced noPadding">
          OK
        </button>
        <button value="Clear" type="reset" class="button button-assertive noPadding">
          Clear
        </button>
      </form>
    </ion-pull-up-content>
</ion-pull-up-footer>
