<ion-view view-title="Matches">
  <ion-content class="listBox" overflow-scroll="false">
    <ion-list>
  <!-- Really mean player here, but there are some current controller issues -->
      <ion-item ng-repeat="match in matches | orderBy:rank ">
        <div class = "row">
          <div class="col col-25">{{match.rank}}</div>
          <div class="col">{{match.name}}</div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <br>
   <h3 class="tournamentAnnouncements">
     Tournament Announcements
   </h3>

  <ion-content class="infoBox">
    Relevant text here.
  </ion-content>

  <button class="button button-positive" ng-click="openModal()">
    Drop From Tournament (modal not here)
  </button>
</ion-view>
