<ion-view view-title="Matches">
  <!-- List of players -->
  <ion-scroll class="listBox" zooming="false" direction="xy">
    <ion-list>
      <ion-item ng-repeat="player in players | orderBy:rank ">
        <div class = "row">
          <div class="col col-25">{{player.rank}}</div>
          <div class="col">{{player.name}}</div>
        </div>
      </ion-item>
    </ion-list>
  </ion-scroll>

  <!--Torunament Announcements box-->
  <div class="row" >
     <div class="col "></div>
     <div class="col col-50">
       <h3 class="tournamentAnnouncements">
         Tournament Announcements
       </h3>
     </div>
     <div class="col "></div>
  </div>

  <div class="row" style="height: 25%">
    <div class="col col-25"></div>
    <div class="infoBox col">
      Relevant text here.
    </div>
    <div class="col col-25"></div>
  </div>

  <button class="button button-positive" ng-click="openModal()">
    Drop From Tournament
  </button>

</ion-view>
